*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 80%;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1%;
  width: 100%;
  padding: 20px 20px;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}


h1, h2 {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin: 2%;
}

h2 {
  text-indent: 30px;
  letter-spacing: 1px;
  font-weight: 200;
}

.preview {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 575px) {
  .preview {
  width: 1%;
  margin: 48%;
 }
}
