*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}

.preview {
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 200px;
  width: 100%;
  margin: 10px;
  text-transform: capitalize;
}


/* stacked */
@media screen and (min-width: 575px) {
  .preview {
  width: 100%;
  margin: 1%;
 }
}

.container {
  width: 100%;
  margin: 10%;
}

@media screen and (min-width: 991px) {
  .preview {
  width: 25%;
  margin: 1%;
 }

.container {
  width: 25%;
  margin: 10%;
}
